@model ShopTarge24.Models.RealEstate.RealEstateDetailsViewModel

<h1>Details</h1>

<div class="card p-4 shadow-sm">
    <h4 class="mb-3">Real Estate Details</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Area)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Area)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Location)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.RoomNumber)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.RoomNumber)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BuildingType)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.BuildingType)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ModifiedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ModifiedAt)</dd>
    </dl>

    <hr />
    <a asp-action="Index" asp-controller="RealEstate" class="btn btn-danger">Back</a>
</div>
